---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Quantitative UX Research Resources">
	<main>
		<h1><span class="text-gradient">Quant UX Research Resources</span></h1>
		<p class="instructions">
			This is a place where you can find some useful resources for Quantitative UX Research (more coming soon)</p>
				<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="GitHub Repository"
				body="Code, GitHub Actions Template, etc. . ."
			/>
			<Card
				href="https://qxrkit.shinyapps.io/Benchmark/"
				title="Task Success Benchmark App"
				body="A Shiny app to compare success rates with a benchmark"
			/>
			<Card
				href="https://joe-chelladurai.github.io/uxr/"
				title="uxr R package"
				body="Helpful functions for benchmark and group comparisons"
			/>
			<Card
				href="https://sentiments.streamlit.app/"
				title="Sentiment Analysis App"
				body="A simple sentiment analysis app in Python and Streamlit"
			/>
		</ul>
<h3>Sign up for our free monthly newsletter. </h3>
<iframe src="https://qxrkit.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
